:root {
    --page-bg: oklch(0.95 0.01 250);
    --card-bg: rgba(255, 255, 255, 1);

    --btn-bg-hover: oklch(0.95 0.025 250);
    --btn-bg-active: oklch(0.98 0.01 250);
    --btn-text: oklch(0.70 0.14 250);
}