:root {
    color-scheme: light dark;

    --hue: 250;

    --page-bg: light-dark(oklch(0.95 0.01 var(--hue)), oklch(0.16 0.014 var(--hue)));
    --card-bg: light-dark(rgba(255, 255, 255, 1), oklch(0.23 0.015 var(--hue)));

    --btn-bg-hover: light-dark(oklch(0.95 0.025 var(--hue)), oklch(0.30 0.035 var(--hue)));
    --btn-bg-active: light-dark(oklch(0.98 0.01 var(--hue)), oklch(0.27 0.025 var(--hue)));
    --btn-text-hover: light-dark(oklch(0.70 0.14 var(--hue)), oklch(0.75 0.14 var(--hue)));

    --btn-text: light-dark(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75));
    --navbar-github-icon: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));

    --opacity-auto: 1;
    --opacity-light: 0;
    --opacity-dark: 0;

    --btn-bg-auto: var(--btn-bg-hover);
    --btn-bg-light: transparent;
    --btn-bg-dark: transparent;

    --btn-text-auto: var(--btn-text-hover);
    --btn-text-light: var(--btn-text);
    --btn-text-dark: var(--btn-text);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-slider: linear-gradient(to right, oklch(0.80 0.10 0), 
            oklch(0.80 0.10 30), oklch(0.80 0.10 60), oklch(0.80 0.10 90), 
            oklch(0.80 0.10 120), oklch(0.80 0.10 150), oklch(0.80 0.10 180), 
            oklch(0.80 0.10 210), oklch(0.80 0.10 240), oklch(0.80 0.10 270), 
            oklch(0.80 0.10 300), oklch(0.80 0.10 330), oklch(0.80 0.10 360));
    }
}

@media (prefers-color-scheme: dark) {
  :root {
        --color-slider: linear-gradient(to right, oklch(0.70 0.10 0), 
            oklch(0.70 0.10 30), oklch(0.70 0.10 60), oklch(0.70 0.10 90), 
            oklch(0.70 0.10 120), oklch(0.70 0.10 150), oklch(0.70 0.10 180), 
            oklch(0.70 0.10 210), oklch(0.70 0.10 240), oklch(0.70 0.10 270), 
            oklch(0.70 0.10 300), oklch(0.70 0.10 330), oklch(0.70 0.10 360));
  }
}

[data-theme="light"] {

    color-scheme: light;

    --opacity-auto: 0;
    --opacity-light: 1;
    --opacity-dark: 0;

    --btn-bg-auto: transparent;
    --btn-bg-light: var(--btn-bg-hover);
    --btn-bg-dark: transparent;

    --btn-text-auto: var(--btn-text);
    --btn-text-light: var(--btn-text-hover);
    --btn-text-dark: var(--btn-text);

    --color-slider: linear-gradient(to right, oklch(0.80 0.10 0), 
        oklch(0.80 0.10 30), oklch(0.80 0.10 60), oklch(0.80 0.10 90), 
        oklch(0.80 0.10 120), oklch(0.80 0.10 150), oklch(0.80 0.10 180), 
        oklch(0.80 0.10 210), oklch(0.80 0.10 240), oklch(0.80 0.10 270), 
        oklch(0.80 0.10 300), oklch(0.80 0.10 330), oklch(0.80 0.10 360));
}

[data-theme="dark"] {

    color-scheme: dark;

    --opacity-auto: 0;
    --opacity-light: 0;
    --opacity-dark: 1;

    --btn-bg-auto: transparent;
    --btn-bg-light: transparent;
    --btn-bg-dark: var(--btn-bg-hover);

    --btn-text-auto: var(--btn-text);
    --btn-text-light: var(--btn-text);
    --btn-text-dark: var(--btn-text-hover);

    --color-slider: linear-gradient(to right, oklch(0.70 0.10 0), 
        oklch(0.70 0.10 30), oklch(0.70 0.10 60), oklch(0.70 0.10 90), 
        oklch(0.70 0.10 120), oklch(0.70 0.10 150), oklch(0.70 0.10 180), 
        oklch(0.70 0.10 210), oklch(0.70 0.10 240), oklch(0.70 0.10 270), 
        oklch(0.70 0.10 300), oklch(0.70 0.10 330), oklch(0.70 0.10 360));
}

.color-slider {
    -webkit-appearance: none;
    width: 100%;
    display: block;
}

.color-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: var(--color-slider);
    /* height: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem; */
}
