---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
---

<html lang="en" data-theme="auto">
	<head>
		<script>
			const theme = localStorage.getItem("theme");
			if (theme) {
				document.documentElement.setAttribute("data-theme", theme);
			} else {
				document.documentElement.setAttribute("data-theme", "auto");
				localStorage.setItem("theme", "auto");
			}
			const color = localStorage.getItem("color");
			if (color) {
				document.documentElement.style.setProperty("--hue", color);
			} else {
				document.documentElement.style.setProperty("--hue", "250");
				localStorage.setItem("color", "250");
			}
		</script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-[var(--page-bg)] transition-all">
		<Navbar />
	</body>
</html>
