---
import { Image } from 'astro:assets';
import BannerImage from "../assets/banner.png"
---

<div class="absolute top-0 w-full h-[800px] overflow-hidden z-10 transition-all">
    <Image src={ BannerImage } alt="" class={`w-[3840px] h-[1020px] object-none
    -translate-y-24`}/>
</div>


