---
import { Icon } from 'astro-icon/components'
---

<div class="max-w-[75rem] md:px-4 mx-auto top-0 sticky">
    <div class="bg-[var(--card-bg)] md:h-[4.5rem] h-16 transition-all rounded-2xl rounded-t-none">
        <a href="/" class="flex">
                <Icon name="material-symbols:home-outline-rounded" 
                class=""/>
                <p class="">
                    111
                </p>
        </a>
    </div>
</div>
