---
import { Icon } from 'astro-icon/components'
import { siteConfig, NavbarLinks } from '../config/site.config'
---

<div class="sticky top-0 bg-[var(--card-bg)] md:h-[4.5rem] h-16 rounded-2xl rounded-t-none
max-w-[1168px] mx-auto max-[1200px]:mx-4 max-md:mx-0 transition-all">
    <div class="flex h-full items-center justify-between md:px-4 px-3.5">
        <a href="/" class="flex items-center h-12 md:h-[3.25rem] px-4 md:px-5
        rounded-md md:rounded-lg hover:bg-[var(--btn-bg-hover)] active:bg-[var(--btn-bg-active)] 
        active:scale-95 transition-all">
            <Icon name="material-symbols:home-outline-rounded" 
            class="text-[var(--btn-text-hover)] md:text-[28px] text-[25px] mb-1 transition-all"/>
            <p class="text-[var(--btn-text-hover)] md:text-[15px] text-[13px] font-bold 
            md:ml-[7px] ml-[5px] transition-all">
                { siteConfig.name }
            </p>
        </a>
        <div class="flex max-md:hidden">
            { NavbarLinks.map((link) => (
                link.enabled && <a href={ link.url } target={ link.external ? "_blank" : null } 
                class="flex items-center h-11 px-5 rounded-lg hover:bg-[var(--btn-bg-hover)] 
                active:bg-[var(--btn-bg-active)] active:scale-95 group transition-all">
                    <p class="text-[15px] font-bold text-[var(--btn-text)] 
                    group-hover:text-[var(--btn-text-hover)] transition-all">{ link.name }</p>
                    { link.external && <Icon name="fa6-solid:arrow-up-right-from-square"
                    class="text-[13px] ml-[3px] mb-[3px] text-[var(--navbar-github-icon)]"/>}
                </a>
            )) }
        </div>
        <button id="theme-btn" class="flex w-10 h-10 items-center justify-center rounded-lg active:scale-95
        hover:bg-[var(--btn-bg-hover)] active:bg-[var(--btn-bg-active)] group transition-all">
            <Icon name="material-symbols:wb-sunny-outline-rounded" class={`
            md:text-xl text-base text-[var(--btn-text)] group-hover:text-[var(--btn-text-hover)] 
            absolute opacity-[var(--opacity-light)] transition-all`}/>
            <Icon name="material-symbols:dark-mode-outline-rounded" class={`
            md:text-xl text-base text-[var(--btn-text)] group-hover:text-[var(--btn-text-hover)] 
            absolute opacity-[var(--opacity-dark)] transition-all`}/>
            <Icon name="material-symbols:radio-button-partial-outline" class={`
            md:text-xl text-base text-[var(--btn-text)] group-hover:text-[var(--btn-text-hover)] 
            absolute opacity-[var(--opacity-auto)] transition-all`}/>
        </button>
    </div>
</div>
<script>
    document.getElementById("theme-btn")?.addEventListener("click", () => {
        const htmlEl = document.documentElement;
        const currentTheme = htmlEl.getAttribute("data-theme");
        if (currentTheme === "light") {
            htmlEl.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        } else if (currentTheme === "dark") {
            htmlEl.setAttribute("data-theme", "auto");
            localStorage.setItem("theme", "auto");
        } else {
            htmlEl.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
        }
    });
</script>
